aiomysql==0.0.21
aiosqlite==0.17.0
aiounittest==1.4.0
black==21.9b0
codecov==2.1.12
coverage==5.5
flit==3.3.0
mypy==0.910
pylint==2.11.1
sphinx==4.1.1
usort==0.6.2
git+https://github.com/miyakogi/m2r@66f4a5a500cdd9fc59085106bff082c9cadafaf3